#include "resource.h"
#include <windows.h>

// 图标资源
IDI_ICON_RUNNING ICON "alert_running.ico"
IDI_ICON_PAUSED ICON "alert_paused.ico"

// 版本信息
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "JBL Heartbeat"
            VALUE "FileDescription", "JBL Heartbeat - 防止音响自动休眠"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "JBLHeartbeat.exe"
            VALUE "LegalCopyright", "Copyright (C) 2023"
            VALUE "OriginalFilename", "JBLHeartbeat.exe"
            VALUE "ProductName", "JBL Heartbeat"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END